<h1 class="page_title">Empty text here</h1>

<div class="skinny_wrapper wrapper_padding">
	<h1>Thanks for getting in touch!<h1>
	<p>I'll post an answer to your question on the site within a day.</p>
	<h1><%= link_to "Go back", posts_index_path, class: 'button' %>  <h1>
</div>

