<div class="container">
    <div class="col-md-12">
        <div class="row">
            
            <% if @recent_posts.present? %>
                
                <h1 class="sectionhead">Recent Answers</h1><br>
                <p>Issues: 1) below image thumbnails being resized twice but stretched... 2) I want the topics box panel to serve as a div that is clickable. Tried Googling "How to make a Rails Link with divs inside clickable?" and you can make a link_to block in Rails, but seems there can't be divs (i.e., panel, panel body) within that link_to block...3) box panel vmin sizing works great for larger screens (stretches like I want it to--maybe need columns/spans??) but then they look half-screen width on mobiles</p>
                
                <div id="topics" class="topics transitions-enabled"> 

                    <% @recent_posts.each do |post| %>
                        <div class="box1 panel panel-default">
                            <%= link_to image_tag(post.image.url(:small)), post %>
                            <div class="panel-body">
                                <p class="recentpost"><%= link_to post.title, post %></p>
                            </div>
                        </div>
                    <% end %>

                </div>
                
                <br>

            <% end %>



        </div>
    </div>
</div>
