<div class="container">
    <div class="col-md-12">
        <% if @recent_posts.present? %>
            <h2 class="posts"><%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "25x25") %> Read next:</h1><br
                <!-- loops through all @recent_posts -->
                <div class="row">
                    <% @readmore_posts.each do |post| %>
                        <% if post.subtitle.present? %>
                            <div class="row">   
                                <p class="froalaquestion"><%= link_to image_tag("fairygirledit.png", class: "rotate", size: "25x25") %><%= link_to truncate(post.subtitle, length:120, separator:' ' ), post %></p>
                                <hr>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <br>
            <% end %>
        </div>   
    </div>
</div>
