<div class="container">
    <div class="col-md-12">
        <% if @recent_posts.present? %>
            <h2 class="posts"><%= link_to image_tag("fairygirlhead.jpg", class: "rotate", size: "25x25") %> Read next:</h1><br
                <!-- loops through all @recent_posts -->
                <div class="row">
                    <% @readmore_posts.each do |post| %>
                        <% if post.subtitle.present? %>
                            <div class="row">   
                                <h4 class="poststags"><%= link_to image_tag("fairygirledit.png", class: "rotate", size: "20x20") %> <%= render @post.tags %> <%= link_to post.title, post %></h4>
                                <hr>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <br>
            <% end %>
        </div>   
    </div>
</div>
