          <%= form_tag(posts_search_path, method: "get", class: "navbar-form") do %>
            <div class="input-group add-on">
              <%= text_field_tag(:query, nil, placeholder: 'Search', class: "form-control input-lg") %>
                <div class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn btn-primary btn-lg") do %>
                    <i class="fa fa-search" aria-hidden="true"></i>
                  <% end %>
                </div>
            </div>
          <% end %>