<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                    <%= link_to post_path(@todays_posts.last) do %>
                    <%= image_tag @todays_posts.last.image.url, :class => "img-responsive" %>
                    <% end %>
            </div>
            <div class="col-md-5">
                
                <!--OLD JAVASCRIPT CLASS FOR THIS HEADING: <h2 class="h2_home wow fadeIn"></h2>
                ALSO WOULD BE NICE IF THE PHOTO SWITCHED WHEN YOU HOVER BETWEEN POST TITLES-->

                <h1 class="sectionhead"><%= Date::DAYNAMES[Date.today.wday] %>'s Answers</h1>

                <hr>
                    <% @todays_posts.each do |post| %>
                        <h3 class="posttitle" style="margin-top:0">
                            <%= link_to post.title, post_path(post) %>
                        </p>
                        <hr>
                    <% end %>
            </div> 
            <br>
        </div>
    </div>
</div>