/* styles for '...' */ 

.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 29em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

/* create the ... */

.block-with-text:before {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */

.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

body {
  background-color: #fff;
  line-height: 18px;
}

/* CONTACT FORM */

#contactme {
    background: #8D9698 url(//orig03.deviantart.net/b762/f/2008/266/0/8/paper_by_francy84.jpg) repeat fixed 0 0;
    /*background: url("assets/images/missing.png") no-repeat;*/
    background-attachment: fixed; 
    font-family: 'Special Elite', Helvetica, Arial, sans-serif;;
    font-size: 1.3em;

}

.form-control {
    border: 2px solid #bdc3c7;
    background: #8D9698 url(//orig03.deviantart.net/b762/f/2008/266/0/8/paper_by_francy84.jpg) repeat fixed 0 0;
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.5s ease; 
  text-indent: -100%;
  opacity: 1;
  clear: both;
}

/* END CONTACT FORM */

/* SEARCH FORM */

.form-group {
 text-align: center;
}

.searchform {
  height: 40px;
}
/* END SEARCH FORM */

h1 {
  text-align: center;
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;;
  color: #76c4ae;
}
.nobootstrap { /* 100+1=101 priority score, yay! */
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;;
  color: inherit;
  font-size: calc(0.75em + 5vmin);
}
.sectionhead {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;;
  color: inherit;
  font-size: calc(0.75em + 5vmin);
}

h2 {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;;
  font-size: calc(0.75em + 5vmin);

}
.float_center {
 text-align: center;
}
.posts {
  text-align: center;
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
}

h3 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.posttitle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(0.75em + 2vmin);
  margin-left: 2vmin;
}

.postshow {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
  text-align: left;
  margin-left: 0.5em;
}

p, ol, ul, td {
  margin: 0 0 10.5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 18px;
}
.froalapara{
    line-height: 130%;
    font-size: 2vmin;
}
.froalahead{
  font-size: 3.0vh;
  color: red;
}

.recentpost {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.lead {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
  margin-bottom: 21px;
  font-size: 2.5vmin;
  font-weight: 200;
  line-height: 130%;
}
.leadtopics {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
  margin-bottom: 50%;
  font-size: 21px;
  font-weight: 200;
  line-height: 130%;
}
.welcome {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
  margin-bottom: 21px;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 22.5px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #b4bcc2;
}
.text-primary {
  color: #2c3e50;
}

/* Nav */

.navbar {
  position: relative;
  top: 0;
  min-height: 20px;
  margin-bottom: 0; 
  width: 100%;
  z-index: 999;
  border-radius: 0; 
}

.navbar-small  {
  margin-bottom: 0; 
  display: table-cell;
  height: 50px; 
  padding: 0 20px;
  vertical-align: middle;
  width: 70%;
  border-radius: 0; 
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
  color: black;
  letter-spacing: 1px;
  font-weight: 100 !important;
}

.navbar-default {
  position: fixed;
  color: black;
  top: 0; 
  min-height: 20px;
  width: 100%;
  z-index: 999;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ECEBEB;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover {
  color: #ECEBEB;
}

.navbar-brand {
  font-family: 'Delius Swash Caps', Helvetica, Arial, sans-serif;
  color: #ECEBEB;
  letter-spacing: 1px;
  font-weight: 400 !important;
}

.navbar-posts {
  color: #ECEBEB;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 20px;
  width: 100%;
  font-weight: 400 !important;
}

.section {
    position: relative;
}

.answers {
    background-color: #ECEBEB;
  }

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -75px;
    left: 0;
    visibility: hidden;
}


/* navbar: show logo and increase text spacing for screens wider than 640px */

@media screen and (max-width: 390px) {
    .mobileNavbig {
        display: none !important;
    }
}
@media screen and (min-width: 390px) {
    .mobileNavsmall {
        display: none !important;
    }
}

/* TRASITIONS-ENABLED TOPICS BOX PANEL */

#posts {
  margin: auto;
}
.box {
  border-radius: 50%;
  width: 240px;
  height: 120px; 
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 3%;
  /*width: 35vmin;*/
}
.box img {
  width: 100%;
}

/* TRANSITIONS-ENABLED RECENT POSTS PANEL */

#topics {
  margin: auto;
  width: 100%;
}

.box1 {
  margin-right: 2%;
}

.box1 img {
  width: 100%;
}


/* -------------------------------------------------
Responsive image size for post show page
------------------------------------------------- */

/* setup border-radius mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
      border-radius: $radius;
}

  /* Level 2 flex layout - rows within article */
.Row {
  flex: 1 1 100%;
  flex-flow: column;
  min-height: 100px;
}

  /* Level 3 flex layout - individual items nested within rows */
.Grid {
  display: flex;
  flex-flow: row;
  img {
    width: 100%;
    padding: 0px;
    border: 1px solid;
    @include border-radius(5px);
  }
}

.Grid--1ofX {
  flex: 1;
}

  /* breakpoint to make responsive */
@media all and (max-width: 600px) {
  #main, .Grid {  flex-direction: column; }
}



