<footer>
    <div class="section answers">
        <div class="container"><div class="container answers">
                    <div class="row">
                        <p class="text-muted">Copyright &copy;monorailsandmickeytales 2016 <%= social_share_button_tag %></p>
                         <p>www.monorailsandmickeytales.com is not affiliated with, authorized or endorsed by, or in any way officially connected with The Walt Disney Company</p>
                        <hr class="small">
            </div>
        </div>
    </div>
</footer>